
.color1,
.color2,
.color3,
.color4{
    em{
        font-style: normal;
    }
}
.color1,
.color4{
    span{
        display: inline-block;
        width: 127px;
        height: 83px;
        line-height: 46px;
        text-align: center;
        em{
            display: block;

            height: 37px;
            
            color: #1f1f1f;
            line-height: 37px;

            background-color: #fff;
        }
    }
}
.color1{
    .c5{
        color: #fff;
    }
    &-r{
        i{
            display: inline-block;
            margin-right: 45px;
            border-radius: 50%;
            width: 30px;
            height: 30px;
        }
    }
}
.color2{
    span{
        display: block;
        padding: 0 30px;
        height: 46px;

        line-height: 46px;
        color: #fff;
        text-align: right;

        & em{
            float: left;
        }
    }
    .feel{
        span{
            &:last-child{
                color: #cacaca;
            }
        }
    }
    .fun{
        span{
            &:last-child{
                color: #1d62aa;
            }
        }
    }
}

.color3{
    height: 424px;
    background: url(./img/color1.png) no-repeat 0 0;
}
.color4{
    color: #fff;
    em{
        color: #666;
    }
}