_drafts/
_site/
node_modules/
logs/*.log*
commands/
.idea/
.history/
dist/

.DS_Store
npm-debug.log
*.swp
*.bak.*
agentx.json
nohup.out
agentx.json
filemaps.json
sftp-config.json
.eslintrc
.vscode
doc.json

site/components/
site/libs/

site/client/router.js
