_drafts/
_site/
site/
node_modules/
logs/*.log*
commands/
.idea/
.history/
src/
assets/
libs/

.DS_Store
npm-debug.log
*.swp
agentx.json
nohup.out
agentx.json
filemaps.json
sftp-config.json
.eslintrc
.vscode

site/components/
site/libs/

site/client/router.js
webpack.config.js