.main-icon-box{
    ul,li{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    ul{
        padding: 1px 0;
    }

    li{
        display: inline-block;
        margin-bottom: 47px;

        width: 140px;

        text-align: center;
        color: #666;
        .tv-icon{
            display: block;
            margin: 0 0 20px;
            font-size: 32px;
        }
    }
}