@import "./libs/variables.less";
@import "./libs/utils.less";

.tv-cascader{
    &-menus{
        display: flex;
    }
    &-wraper{
        .tv-popup-inner{
            padding: 0;
        }
        ul,
        li{
            list-style: none;
        }
        ul{
            overflow: auto;
            vertical-align: top;
            margin: 0;
            padding: 0;
            min-width: 110px;
            border-right: 1px solid #e8e8e8;
        }
        
    }
    &-menu{
        padding: 5px 12px;
        line-height: 22px;
        white-space: nowrap;
        cursor: pointer;
        transition: all .3s;
        &-disabled{
            color: @dark-color-25;
            cursor: not-allowed;
        }
    }
    &-arrow{
        position: relative;
        float: right;
        margin-top: 12px;
        &::before,
        &::after{
            position: absolute;
            border-radius: 2px;
            width: 6px;
            height: 1px;
        
            content: '';
        
            background: #fff;
            background-image: linear-gradient(to right, rgba(0,0,0,0.65), rgba(0,0,0,0.65));

            transition: background .3s cubic-bezier(.645, .045, .355, 1),transform .3s cubic-bezier(.645, .045, .355, 1), top .3s cubic-bezier(.645, .045, .355, 1);
        }

        &::before{
            transform: rotate(-230deg) translateX(2px);
        }

        &::after{
            transform: rotate(45deg) translateX(-2px);
        }
    }
}