.tv-menu { 
    width: 100%;

    &, ul{
        padding:0;
        margin: 0;
    }
    &, ul, li{
        list-style: none;
    }
    > li {
        padding-top: 1px; 
    }
    &-submenu-title,
    &-item{
        margin: 18px 0;
        padding-left: 49px;
    }

    &-submenu-title,
    & > &-item{
        font-weight: 500;
    }

    & > &-item{
        &:first-child{
            margin-top: 0;
        }
    }

    &-submenu{
        &-title{
            position: relative;
        }
        &-arrow{
            position: absolute;
            top: 50%;
            right: 16px;
            width: 10px;
            &::before,
            &::after{
                position: absolute;
                border-radius: 2px;
                width: 6px;
                height: 1.5px;
               
                content: '';
               
                background: #fff;
                background-image: linear-gradient(to right, rgba(0,0,0,0.65), rgba(0,0,0,0.65));

                transition: background .3s cubic-bezier(.645, .045, .355, 1),transform .3s cubic-bezier(.645, .045, .355, 1),top .3s cubic-bezier(.645, .045, .355, 1),-webkit-transform .3s cubic-bezier(.645, .045, .355, 1);
            }

            &::before{
                transform: rotate(-45deg) translateX(2px);
            }

            &::after{
                transform: rotate(45deg) translateX(-2px);
            }
            &.tv-arrow-up{
                &::before{
                    transform: rotate(45deg) translateX(2px);
                }
    
                &::after{
                    transform: rotate(-45deg) translateX(-2px);
                }
            }
        }
        
    }
    

    &-item{
        height: 46px;  
        border-right: 3px solid transparent;
        line-height: 46px;
        color: #333;
    }
    &-active{
        background: #ffeed3;
        border-color: #fea821;
        color: #f93;
    }


    // 水平方向
    &-horizontal{
        width: auto;
        .tv-menu{
            &-item{
                position: relative;
                display: inline-block;
                box-sizing: border-box;
                margin: 0;
                border-right: 0;
                border-bottom: 4px solid transparent;
                padding: 0 20px;
                min-width: 73px;
                height: 73px;
                line-height: 70px;
                font-weight: 400;
                white-space: nowrap;
            }
            &-active{
                border-bottom-color: #fea821;
                background: transparent;
                color: #002d2d;
            }
        }
    }
}