.tv-menu { 
    width: 100%;

    &-item{
        border-right: 3px solid transparent;
        padding-left: 59px;
        color: #333;
        &:first-child{
            margin-top: 0;
        }
        &-group{
            &-title{
                padding-left: 49px;
            }
        }
    }

    &-submenu{
        &-title{
            position: relative;
        }
        &-arrow{
            position: absolute;
            top: 50%;
            right: 16px;
            width: 10px;
            
            &::before,
            &::after{
                position: absolute;
                border-radius: 2px;
                width: 6px;
                height: 1.5px;
               
                content: '';
               
                background: #fff;
                background-image: linear-gradient(to right, rgba(0,0,0,0.65), rgba(0,0,0,0.65));

                transition: background .3s cubic-bezier(.645, .045, .355, 1),transform .3s cubic-bezier(.645, .045, .355, 1), top .3s cubic-bezier(.645, .045, .355, 1);
            }

            &::before{
                transform: rotate(-45deg) translateX(2px);
            }

            &::after{
                transform: rotate(45deg) translateX(-2px);
            }
            &.tv-arrow-up{
                &::before{
                    transform: rotate(45deg) translateX(2px);
                }
    
                &::after{
                    transform: rotate(-45deg) translateX(-2px);
                }
            }
        }
        &-hide{
            display: none
        }
    }
    

    &, ul{
        padding:0;
        margin: 0;
    }
    &, ul, li{
        list-style: none;
    }
    &-item-group-title,
    &-submenu-title,
    &-item{
        height: 44px;  
        line-height: 44px;
        cursor: pointer;
        .tv-icon{
            margin-left: -28px;
            margin-right: 14px;
            vertical-align: baseline;
        }
    }

    &-submenu-title,
    & > &-item{
        padding-left: 49px;
        font-weight: 500;
    }

    & > &-item{
        &:first-child{
            margin-top: 0;
        }
    }

    &-submenu &-active{
        border-color: #fea821;
        background: #ffeed3;
        color: #f93;
    }


    &-horizontal&{
        display: flex;
        width: auto;
        > li,
        .tv-menu-item {
            padding: 0 10px;
        }

        .tv-menu{
            &-item{
                box-sizing: border-box;
                position: relative;
                border-right: 0;
                border-bottom: 4px solid transparent;
    
                font-weight: 400;
                white-space: nowrap;
            }
            &-active{
                border-bottom-color: #fea821;
                background: transparent;
                color: #002d2d;
            }
        }
        
    }
}