@import "./libs/variables.less";
@import "./libs/utils.less";

.tv-datepicker{
    width: 280px;
    &-wraper{
        display: inline-block;
    }
    &-header {
        border-bottom: 1px solid @dark-border-16;
    
        height: 40px;
    
        line-height: 40px;
        text-align: center;
        user-select: none;

        &-wraper{
            position: relative;
        }

        a {
            &:hover {
                color: @master-color;
            }
        }
    }

    &-year-select,
    &-month-select {
        display: inline-block;
        padding: 0 2px;
        
        color: @dark-color-85;
        font-weight: 500;
        line-height: 40px;
    }

    &-prev-century-btn {
        display: inline-block;
        position: absolute;
        left: 7px;
        top: 0;

        padding: 0 5px;

        color: @dark-color-45;
        font-size: 16px;
        font-family: @base-font-family;
        line-height: 40px;

        &::after {
            content: '«';
        }
    }
    &-next-century-btn {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 7px;

        padding: 0 5px;

        color: @dark-color-45;
        font-size: 16px;
        font-family: @base-font-family;
        line-height: 40px;
        &::after {
            content: '»';
        }
    }
    &-prev-decade-btn {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 7px;
        
        padding: 0 5px;
        
        color: @dark-color-45;
        font-size: 16px;
        font-family: @base-font-family;
        line-height: 40px;
        &::after {
            content: '«';
        }
    }
    &-next-decade-btn {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 7px;

        padding: 0 5px;

        color: @dark-color-45;
        font-size: 16px;
        font-family: @base-font-family;
        line-height: 40px;
        &::after {
            content: '»';
        }
    }
    &-prev-month-btn {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 29px;

        padding: 0 5px;

        color: @dark-color-45;
        font-size: 16px;
        font-family: @base-font-family;
        line-height: 40px;
        &::after {
            content: '‹';
        }
    }
    &-next-month-btn {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 29px;

        padding: 0 5px;

        color: @dark-color-45;
        font-size: 16px;
        font-family: @base-font-family;
        line-height: 40px;
        &::after {
            content: '›';
        }
    }
    &-prev-year-btn {
        display: inline-block;
        position: absolute;
        left: 7px;
        top: 0;
        
        padding: 0 5px;
        
        color: @dark-color-45;
        font-size: 16px;
        font-family: @base-font-family;
        line-height: 40px;
        &::after {
            content: '«';
        }
    }
    &-next-year-btn {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 7px;
        padding: 0 5px;
        color: @dark-color-45;
        font-size: 16px;
        font-family: @base-font-family;
        line-height: 40px;
        &::after {
            content: '»';
        }
    }
    //=====body
    &-body{
        padding: 8px 12px;
    }
    &-year-table,
    &-month-table,
    &-table{
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        background-color: @transparent-bgc;
        &, th, td{
            text-align: center;
            border: 0;
        }        
    }

    &-column{
        &-header{
            padding: 6px 0;
            width: 33px;
            line-height: 18px;
            &-inner{
                display: block;
                font-weight: normal;
            }
        }

    }
    &-cell{
        padding: 3px 0;
        height: 30px;
    }
    &-date{
        display: block;
        border: 1px solid @transparent-border;
        border-radius: 2px;

        margin: 0 auto;
        padding: 0;

        min-width: 24px;
        height: 24px;

        font-size: 12px;
        color: @dark-color-65;
        line-height: 22px;
        text-align: center;
        background-color: @transparent-bgc;
        transition: background .3s ease;
    }

    &-cell-nonmonth &-date {
        color: @dark-color-25;
    }

    &-cell-disabled &-date {
        width: auto;
        color: @dark-color-25;
        background: @light-smoke-bgc;
        border: 1px solid @transparent-border;
        border-radius: 0;
        cursor: not-allowed;
    }

    &-cell-today &-date{
        position: relative;
        color: @master-color;
        &::after{
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;

            border-top: 5px solid @master-border;
            border-left: 5px solid @transparent-border;

            width: 0;
            height: 0;
            
            content: ' '
        }
    }
    &-cell-in-range &-date{
        color: @light-color;
        background-color: @master-bgc-20;
    }

    &-cell-selected &-date{
        color: @light-color;
        background-color: @master-bgc;
    }

    &-active-week{
        background-color: @master-bgc-20;
        .tv-datepicker-cell{
            &:first-child,
            &:last-child{
                background-color: @master-bgc;
            }
            .tv-datepicker-date{
                color: @light-color;
            }
        }
    }
    &-year-table,
    &-month-table{
        height: 210px;
        line-height: 40px;
    }

    &-month-table &-date{
        width: auto;
        height: 24px;
    }

    &-range{
        display: flex;
        width: 550px;
        .tv-datepicker{
            width: 50%;
        }
    }
    &-expand{
        border-right: 1px solid @dark-border-16;
        margin-top: -12px;
        margin-bottom: -12px;
        padding-top: 16px;
        padding-right: 16px;
        .tv-button{
            display: block;
            border: 0 none;
        }
        & &-selected{
            color: @master-color;
        }
    }
}
