@import "./libs/variables.less";
@import "./libs/utils.less";

.radio(){
    width: 16px;
    height: 16px;
}

@color: #FF8B3D;

.tv-radio{
    &-label{
        &:not(:last-child){
            margin-right: 8px;
        }
        .tv-input{
            .radio;
            &-wraper{
                position: relative;
                vertical-align: top;
                margin-top: 5px;
                margin-right: 5px;
                .radio;
                &::before{
                    box-sizing: border-box;
                    position: absolute;
                    top: 0;
                    left: 0;

                    display: block;
                    border: 1px solid #d9d9d9;
                    border-radius: 100px;
                    
                    content: ' ';

                    .radio;

                    background-color: @light-bgc;

                    transition: all .3s;
                }
                &::after{
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    display: block;

                    border-top: 0;
                    border-left: 0;
                    border-radius: 8px;

                    content: ' ';

                    width: 8px;
                    height: 8px;

                    background-color: @master-bgc;

                    transform: scale(0);
                    opacity: 0;
                    transition: all .3s cubic-bezier(.78, .14, .15, .86);
                }
                &:hover{
                    &::before{
                        border-color: @master-border;
                    }
                }
            }
            &-radio{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                opacity: 0;
                cursor: pointer;
            }
        }
        
        &.tv-radio-checked{
            .tv-input{
                &-wraper{
                    &::before{
                        border-color: @master-border;
                    }
                    &::after{
                        transform: scale(.875);
                        opacity: 1;
                        transition: all .3s cubic-bezier(.78, .14, .15, .86)
                    }
                }
            }
        }
        &.tv-radio-disabled{
            color: @dark-color-25;
            cursor: not-allowed;
            .tv-input{
                &-wraper{
                    &::before{
                        border-color: @dark-border-10;
                        background-color: @light-smoke-bgc;
                        cursor: not-allowed;
                    }
                    &::after{
                        background-color: @dark-bgc-20;
                    }
                }
            }
        }
    }
    
}