@import "./libs/variables.less";
@import "./libs/utils.less";

.tv-select{
    &,
    &-trigger{
        display: inline-block;
    }
    &-trigger{
        .tv-button{
            margin: 0;
        }
    }
    &-options{
        &-wraper{
            .tv-popup-inner{
                padding: 0;
                .tv-popup-content{
                    padding: 0;
                }
            }
            ul{
                margin: 0;
                padding: 0;
            }
            ul,li{
                list-style: none;
            }
        }
    }
    &-option{
        overflow: hidden;
        box-sizing: border-box;
        position: relative;

        padding: 8px 10px;
        height: 36px;

        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: @dark-color-60;
        line-height: 1.5;

        cursor: pointer;
        &-selected,
        &:hover{
            border-color: @master-border;
            background: #ffeed3;
            color: @master-color;
        }
        .tv-checkbox-label{
            display: block;
        }
    }
    &-extra{
        border-top: 1px solid @dark-border-10;
        margin-top: 4px;
        padding-top: 4px; 
    }
}