@import "./libs/variables.less";
@import "./libs/utils.less";

.tv-table{
    position: relative;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    &-panel{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &-row{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        // justify-content: space-between;
    }
    &-cell{
        overflow: hidden;
        box-sizing: border-box;

        display: flex;
        align-items: center;
        flex-shrink: 0;

        border-bottom: 1px solid #e8e8e8;

        padding: 10px 5px;
        min-width: 100px;
        height: 70px;

        text-overflow: ellipsis;
        background-color: @light-bgc;

        &-group &,
        &-group-wraper &{
            height: auto;
        }

        &-group{
            display: flex;
            flex-flow: row;
            flex-wrap: nowrap;
            align-items: stretch;
            justify-content: space-between;
        }
    }

    &-header,
    &-body{
        // &-fixed-left{
        //     box-shadow: 6px 0 6px -4px rgba(0,0,0,0.15)
        // }

        // &-fixed-right{
        //     box-shadow: -6px 0 6px -4px rgba(0,0,0,0.15);
        // }

        // &-fixed-left,
        // &-fixed-right{
        //     transition: box-shadow .3s ease;
        // }

        &-wrapper{
            display: flex;
            align-items: stretch;
            // justify-content: space-between;
        }
    }
    &-header{
        overflow: hidden;
        &-wrapper{
            background-color: @table-header-bgc;
            .tv-table-cell{
                min-height: 40px;
                height: auto;
                background-color: @transparent-bgc;
            }
        }
    }
    &-body{
        overflow-x: auto;
        width: 100%;
        height: 100%;
        &-wrapper{
            overflow-y: auto;
            position: relative;
            z-index: 0; 
            max-height: 100%;
        }
    }
    &-border{
        .tv-table-cell{
            border-right: 1px solid #e8e8e8
        }
    }
}