@keyframes spin {
    from{
        transform: rotate(0deg);
      }
      to{
        transform: rotate(360deg);
      }
}

.tv-icon{
    text-align: center;
    -webkit-text-size-adjust:none;
    &-item{
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        fill-rule: evenodd;
        overflow: hidden;
    }
    &-loading {
        .tv-icon-item{
            display: inline-block;
            animation: spin 800ms infinite linear;
        }
    }
    &-search{
        font-size: 16px;
        color: #a8a8aa;
    }
}