.notice1{
    height: 256px;
    background: url(./img/notice1.png) no-repeat 0 0;
}
.notice2{
    height: 248px;
    background: url(./img/notice2.png) no-repeat 0 0;
}
.notice3{
    height: 256px;
    background: url(./img/notice3.png) no-repeat 0 0;
}
.notice4{
    height: 206px;
    background: url(./img/notice4.png) no-repeat 0 0;
}
.notice5{
    height: 525px;
    background: url(./img/notice5.png) no-repeat 0 0;
}
.notice6{
    height: 277px;
    background: url(./img/notice6.png) no-repeat 0 0;
}
.notice7{
    height: 280px;
    background: url(./img/notice7.png) no-repeat 0 0;
}
.notice8{
    height: 301px;
    background: url(./img/notice8.png) no-repeat 0 0;
}
.notice9{
    height: 346px;
    background: url(./img/notice9.png) no-repeat 0 0;
}